body{
    height: 100vh;
    /* width: 100%; */
    background-color: black;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: white;
}
#heading{
    /* background-color: yellow; */
    color: white;
}
#root{
    border: 1px solid white;
    border-radius: 5px;
}